

<h1>About</h1>
<p>
	<%= link_to "One Month Rails","http://ebay.com" %>
	is a project to teach 
	<%= link_to "Ruby on rails","http://rubonrails.org" %>
	in one month. This is the sample application.
</p>


